@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Common CSS */
:root {
    --main-font: "Manrope", sans-serif;
    --body-font: "Plus Jakarta Sans", sans-serif;
    --heading-color: #1c1c1c;
    --text-color: #777777;
}
body {
    font-family: var(--body-font);
}
a {
    text-decoration: none;
    color: #000;
}
.container {
    width: 1140px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--main-font);
    color: var(--heading-color);
    font-weight: 800;
}
input:focus {
    outline: none;
}
.heading {
    color: var(--heading-color);
    font-size: 2.813rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.sub-heading {
    font-size: 1.563rem;
    font-weight: 800;
}
.paragraph {
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;
}
.sub-paragraph {
    font-family: var(--body-font);
    font-size: 0.813rem;
    line-height: 24px;
    color: #5d5a6f;
}
.products-item-paragraph {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    max-width: 211px;
    margin: 0 auto;
}
/* Header CSS */
.header .banner-text {
    margin-top: 68px;
}
.header .banner-text h1 {
    max-width: 628px;
    margin-bottom: 30px;
    font-size: 4.625rem;
    line-height: 100px;
}
.header .banner-text p {
    max-width: 513px;
    font-size: 1.125rem;
    line-height: 30px;
    color: var(--text-color);
}
.header .banner-text .button {
    padding: 11px 14px 11px 14px;
    color: #ffffff;
    background-image: linear-gradient(270deg, #ff0000, #ff8938);
}
.header .banner-text .button:hover {
    background-image: linear-gradient(-270deg, #ff0000, #ff8938);
}
.header .banner-text .button a {
    margin-right: 4px;
    color: #ffffff;
}
.header .image img {
    max-width: 100%;
}
.header .image {
    margin-top: 121px;
    position: relative;
}
.header .image .ratting {
    display: inline;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
    bottom: 15px;
    left: 80px;
}
.header .image .ratting i {
    font-size: 1.5rem;
    color: #ffdc64;
    margin-right: 12px;
}
.header .image .ratting span {
    display: block;
    font-size: 1.875rem;
    font-weight: 800;
    color: var(--heading-color);
}
.header .image .ratting p {
    display: inline;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
}
/* Product Section */
.products .heading {
    margin: 100px 0 20px;
}
.products .products-title {
    max-width: 901px;
    text-align: center;
    margin: 0 auto;
}
.products .paragraph {
    margin-bottom: 50px;
}
.products .products-item .card img {
    padding: 30px 60px;
}
.products .products-item .card .milk-tea {
    width: 95.8%;
}
.products .products-item .card .lemon-tea {
    width: 99.5%;
}
.products .products-item .card .green-tea {
    width: 95%;
}
.products .products-item .card {
    background: linear-gradient(180deg, rgb(244, 244, 244), rgba(244, 244, 244, 0) 100%);
    margin: 0 auto;
}
.products .products-item .card-body {
    text-align: center;
    margin: 0 auto;
}
/* Great Tea section */
.great-tea {
    margin-top: 130px;
    margin-bottom: 130px;
}
.great-tea .empty-box-1 {
    height: 136px;
    border-radius: 10px;
    background: linear-gradient(270deg, rgb(255, 0, 0) 0%, rgb(255, 137, 56) 100%);
    opacity: 0.1;
    margin-bottom: 30px;
}
.great-tea .image-1 {
    padding: 39px 46px 43px 46px;
    background-color: rgba(88, 118, 57, 0.1);
    border-radius: 10px;
    text-align: center;
}
.great-tea .image-2 {
    padding: 58px 30px 31px 31px;
    background-color: rgba(230, 165, 35, 10%);
    border-radius: 10px;
    text-align: center;
}
.great-tea .empty-box-2 {
    height: 136px;
    margin-top: 30px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(217, 217, 217), rgba(255, 255, 255, 0) 100%);
}
.great-tea .great-tea-content {
    margin-left: 52px;
}
.great-tea .great-tea-content .great-tea-content-1 {
    h2 {
        max-width: 396px;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 30px;
        max-width: 582px;
    }
}
.great-tea .great-tea-content .great-tea-content-2 {
    h4 {
        margin-bottom: 10px;
        font-size: 20px;
    }
    p {
        max-width: 458px;
        margin-bottom: 20px;
    }
}
/* Super Clients Section CSS */
.for-bg {
    border-radius: 10px;
    background: linear-gradient(270deg, rgb(255, 0, 0) 0%, rgb(255, 137, 56) 100%);
    position: relative;
    margin-bottom: 130px;
}
.clients-section .frame-img {
    width: 325px;
    height: 336px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 170px;
    vertical-align: middle;
}
.for-bg {
    padding-right: 120px;
    h2 {
        margin: 153px 0 21px 70px;
        color: #f4f4f4;
        max-width: 389px;
    }
    a {
        display: inline-block;
        padding: 14px 28px 15px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 600;
        background: linear-gradient(270deg, rgb(255, 0, 0), rgb(255, 137, 56));
        background-clip: text;
        color: transparent;
    }
}
.clients-section .for-bg .button {
    width: 139px;
    height: 56px;
    background-color: #ffffff;
    margin: 0 0 154px 70px;
    border-radius: 8px;
}
.for-bg .super-clients-text p {
    margin: 0 0 30px 70px;
    width: 440px;
    color: #f4f4f4;
}
.clients-section .card-item-1 {
    background-color: #ffffff;
    width: 376px;
    height: 202px;
    border-radius: 7px;
    padding: 36px 36px 25px 43px;
    margin: 103px 0 40px 184px;
    opacity: 0.5;
    img {
        width: 52px;
        height: 52px;
        top: -17px;
        left: -17px;
    }

    p {
        display: inline-block;
        width: 296.13px;
    }
    h5 {
        font-size: 0.875rem;
    }
}
.clients-section .card-item-2 {
    background-color: #ffffff;
    width: 376px;
    height: 202px;
    border-radius: 7px;
    padding: 36px 36px 25px 43px;
    margin: 0 0 0 184px;
    opacity: 0.5;
    img {
        width: 52px;
        height: 52px;
        top: -17px;
        left: -17px;
    }

    p {
        display: inline-block;
        width: 296.13px;
    }
    h5 {
        font-size: 0.875rem;
    }
}
.clients-section .card-item-3 {
    position: absolute;
    bottom: 197px;
    left: 59px;
}
.clients-section .card-item-3 .position-relative {
    background-color: #ffffff;
    width: 376px;
    height: 202px;
    border-radius: 7px;
    padding: 36px 36px 25px 43px;
    img {
        position: absolute;
        width: 52px;
        height: 52px;
        top: -17px;
        left: -17px;
    }

    p {
        display: inline-block;
        width: 296.13px;
    }
    h5 {
        font-size: 0.875rem;
    }
}
.clients-section .card-item-3 .position-relative .ellipse img {
    width: 25px;
    height: 23px;
}
.clients-section .card-item-3 .position-relative .ellipse {
    right: 30px;
    bottom: 25px;
}
.for-border {
    width: 65px;
    height: 65px;
    background-color: #fff;
    border-radius: 50%;
    top: -23px;
    left: -23px;
}
/* News & Events Section */
.events {
    margin-bottom: 130px;
}
.events .title {
    max-width: 901px;
    margin: 0 auto;
    p {
        margin-bottom: 50px;
    }
}
.events .card {
    padding: 21px 22px 20px;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    img {
        margin-bottom: 20px;
    }
    span {
        font-family: var(--main-font);
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;
        color: #777777;
    }
    h4 {
        font-family: var(--main-font);
        font-size: 20px;
        font-weight: 800;
        color: #1c1c1c;
        width: 225px;
    }
    p {
        width: 310px;
    }
    a {
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        color: #1c1c1c;
    }
}
.events .for-center {
    margin: 0 auto;
}
/* Footer Section CSS */
.footer-bg {
    background: linear-gradient(270deg, rgba(255, 0, 0, 0.1), rgba(255, 137, 56, 0.1) 100%);
    padding: 130px 0;
}
.footer-bg .footer-heading {
    margin-bottom: 104px;
    align-items: center;
    display: flex;
    p {
        font-family: var(--main-font);
        margin-left: auto;
        align-items: center;
        font-size: 20px;
        line-height: 40px;
        font-weight: 500;
        color: #494949;
    }
    a {
        width: 164px;
        height: 56px;
        padding: 13px 25px 14px;
        background: linear-gradient(270deg, rgb(255, 0, 0) 0%, rgb(255, 137, 56) 100%);
        border-radius: 8px;
        margin-right: 65px;
        margin-left: 40px;
        font-size: 20px;
        font-weight: 600;
        color: #ffffff;
        text-align: center;
    }
}
.footer-bg .footer-content .text-1 {
    margin-right: 172px;
    h5 {
        font-size: 20px;
        font-weight: 600;
        color: #1C1C1C;
        margin-bottom: 22px;
    }
    a {
        font-size: 16px;
        font-weight: 400;
        font-family: var(--main-font);
        display: block;
        color: #494949;
        margin-bottom: 18px;
    }
}
.footer-bg .footer-content .text-2 {
    margin-right: 173px;
    h5 {
        font-size: 20px;
        font-weight: 600;
        color: #1C1C1C;
        margin-bottom: 22px;
    }
    a {
        font-size: 16px;
        font-weight: 400;
        font-family: var(--main-font);
        display: block;
        color: #494949;
        margin-bottom: 18px;
    }
}
.footer-bg .footer-content .text-3 {
    h5 {
        font-size: 20px;
        font-weight: 600;
        color: #1C1C1C;
        margin-bottom: 22px;
    }
    a {
        font-size: 16px;
        font-weight: 400;
        font-family: var(--main-font);
        display: block;
        color: #494949;
        margin-bottom: 18px;
    }
}
.footer-content .footer-form {
    margin-left: auto;
    h5 {
        width: 218px;
        font-size: 24px;
        line-height: 40px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    input {
        width: 273px;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #494949;
        padding: 15px 0;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 48px;
    }
}
.footer-content .footer-form .input-arrow {
    display: inline;
    i {
        width: 32px;
        height: 32px;
        background: linear-gradient(270deg, rgb(255, 0, 0) 0%, rgb(255, 137, 56) 100%);
        color: #ffffff;
        border-radius: 50%;
        text-align: center;
        line-height: 32px;
        /* padding: 10px 12px 10px 13px; */
    }
}
.footer-form input::placeholder {
    font-size: 14px;
    font-weight: 400;
}
.footer-content .footer-form .social {
    i {
        color: #494949;
        margin-right: 24px;
    }
}
.footer-section .copyright {
    margin-top: 60px;
    text-align: center;
    p {
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 500;
        color: #494949;
    }
}